@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --primarycolor: hsl(272, 23%, 50%);
    --secondarycolor: hsl(0, 0%, 80%);
}

body {
    margin: 0;
    background-color: var(--primarycolor);
}

a {
    text-decoration: none;
}

.kode-mono-text {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    background-color: var(--secondarycolor);
}

.navMain h2{
    margin: 0rem 0rem 0rem 1rem;
}

.navMain ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navMain li{
    display: inline-block;
    margin: 0rem 1rem 0rem 0rem;
}

.navMain a{
    color: var(--primarycolor);
    font-weight: 600;
}

.cardHolder{
    padding: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.5rem;
    width: 15rem;
    height: 15rem;
    background-color: var(--secondarycolor);

    border-radius: 1rem;
    transition: transform .45s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}


.card .title{
    font-size: 2em;
    font-weight: 600;
    color: var(--primarycolor);
}

.card a{
    text-align: end;
    font-size: 1.2em;
    color: var(--primarycolor);

}

